<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mapper.UserInfoMapper">

    <insert id="insertUserInfo" parameterType="java.util.HashMap">
        INSERT INTO userinfo(
             province,
             city,
             district,
             contact_confirmed_cases,
             coresident,
             date,
             health,
             health_code,
             living_conditions,
             name,
             number,
             temperature,
             through_risk_areas,
             vaccine)
         VALUES (
             #{province},
             #{city},
             #{district},
             #{contactConfirmedCases},
             #{coresident},
             #{date},
             #{health},
             #{healthCode},
             #{livingConditions},
             #{name},
             #{number},
             #{temperature},
             #{through_risk_areas},
             #{vaccine})

    </insert>
</mapper>